<template>
  <lightning-card title="Request Record Details" icon-name="custom:custom18">
    <div style="border: 1px solid rgb(217, 219, 221);">
      <template if:true={listToDisplay}>
        <lightning-datatable
          key-field="id"
          data={listToDisplay}
          columns={columns}
          hide-checkbox-column
        >
        </lightning-datatable>
      </template>
    </div>
  </lightning-card>
  <lightning-card>
    <div class="slds-grid slds-wrap slds-gutters">
      <div class="slds-col">
        User Details:
        <lightning-combobox
          name="Type"
          onchange={handleTypeChange}
          options={controlValuesForObject}
          placeholder="--None--"
          value={selectedType}
          required
          class="slds-m-around_medium"
          style="overflow: auto;"
        >
        </lightning-combobox>
      </div>

      <div class="slds-col">
        "Expectation Date:
        <lightning-input
          type="Date"
          label="Start Date"
          value={assignedToValue}
          placeholder="Search Assignee"
          onkeyup={handleAssignedToChange}
        >
        </lightning-input>
      </div>
      <div class="slds-col">
        <lightning-input
          type="Date"
          label="End Date"
          value={assignedToValue}
          placeholder="Search Assignee"
          onkeyup={handleAssignedToChange}
        >
        </lightning-input>
      </div>
    </div>
  </lightning-card>
</template>