<template>
  <lightning-card
    title="Multi Product Overview"
    variant="Narrow"
    icon-name="standard:account"
    class="my-card slds-card_boundary"
  >
    <template if:true={FinalDisplayData}>
      <lightning-tabset variant="scoped" active-tab-value="HWS">
        <template for:each={FinalDisplayData} for:item="acc">
          <lightning-tab
            label={acc.label}
            key={acc.label}
            id={acc.label}
            value={acc.label}
            data-id={acc.label}
          >
            <c-org_retrive-account-data tab-configs={acc.data}>
            </c-org_retrive-account-data>
          </lightning-tab>
        </template>
      </lightning-tabset>
    </template>
  </lightning-card>
</template>