<template>
  <fieldset class="slds-form-element slds-form-element_compound">
    <div class="slds-form-element__control">
      <template if:true={finalTabData}>
        <template for:each={finalTabData} for:item="eachData">
          <div class="slds-form-element__row" key={eachData.key}>
            <template for:each={eachData.tempArray} for:item="row">
              <div class="slds-size_1-of-2" key={row.fieldValue}>
                <div class="slds-form-element">
                  <template if:true={row.isString}>
                    <label class="slds-form-element__label">
                      {row.fieldLabel}
                    </label>
                    <div class="slds-form-element__control">
                      <p key={row.fieldValue}>
                        <lightning-formatted-text
                          value={row.fieldValue}
                          linkify
                        ></lightning-formatted-text>
                      </p>
                    </div>
                  </template>
                  <template if:true={row.isUrl}>
                    <label class="slds-form-element__label">
                      {row.fieldLabel}
                    </label>
                    <div class="slds-form-element__control">
                      <p key={row.fieldValue}>
                        <lightning-formatted-url
                          value={row.fieldValue}
                          label={row.urlDisplayName}
                          target="_blank"
                        ></lightning-formatted-url>
                      </p>
                    </div>
                  </template>
                  <template if:true={row.isCurrency}>
                    <label class="slds-form-element__label">
                      {row.fieldLabel}
                    </label>
                    <div class="slds-form-element__control">
                      <p key={row.fieldValue}>
                        <lightning-formatted-number
                          value={row.fieldValue}
                          maximum-fraction-digits="2"
                        ></lightning-formatted-number>
                      </p>
                    </div>
                  </template>
                  <template if:true={row.isPhone}>
                    <label class="slds-form-element__label">
                      {row.fieldLabel}
                    </label>
                    <div class="slds-form-element__control">
                      <p key={row.fieldValue}>
                        <lightning-formatted-phone
                          value={row.fieldValue}
                        ></lightning-formatted-phone>
                      </p>
                    </div>
                  </template>
                  <template if:true={row.isEmail}>
                    <label class="slds-form-element__label">
                      {row.fieldLabel}
                    </label>
                    <div class="slds-text-title" key={row.fieldValue}>
                      {row.fieldLabel}
                    </div>
                    <div class="slds-form-element__control">
                      <p key={row.fieldValue}>
                        <lightning-formatted-email
                          value={row.fieldValue}
                        ></lightning-formatted-email>
                      </p>
                    </div>
                  </template>
                  <template if:true={row.isNumber}>
                    <label class="slds-form-element__label">
                      {row.fieldLabel}
                    </label>
                    <div class="slds-form-element__control">
                      <p key={row.fieldValue}>
                        <lightning-formatted-number
                          value={row.fieldValue}
                          maximum-fraction-digits="2"
                        ></lightning-formatted-number>
                      </p>
                    </div>
                  </template>
                </div>
              </div>
            </template>
          </div>
        </template>
      </template>
    </div>
  </fieldset>
</template>