<apex:page standardController="Account">

<apex:form >
<apex:pageBlock >
<apex:pageBlockSection >

<apex:inputfield value="{!Account.Name}"/>




<apex:inputfield value="{!Account.Type}"/>


<apex:inputfield value="{!Account.Phone}"/>

</apex:pageBlockSection>



</apex:pageBlock>


</apex:form>
 
</apex:page>