<apex:page controller="TEST" >
  
<apex:form >
<apex:pageBlock >

<apex:pageBlockSection >

<apex:outputText > Utkarsh</apex:outputText>

<apex:actionSupport event="Onclick" action="{!getAccounts}" reRender="Result"/>


 <apex:pageBlockTable value="{!Accounts}" var="ac" id="Result">
                                                    <apex:column value="{!ac.Name}"/>
                                                </apex:pageBlockTable>
</apex:pageBlockSection>

</apex:pageBlock>


</apex:form>
</apex:page>