<template>
    <lightning-card title="Data table records" icon-name="standard:contact">
    
        <div  style="height: 15rem;" >
            <template if:true={data}>
                <lightning-datatable
                    key-field="Id"
                    data={data}
                    columns={columns}                   
                    onrowselection={getSelectedName}
                    draft-values={draftValues}
                    sorted-by={sortBy}
                    sorted-direction={sortDirection}
                    onsort={handleSortdata}
                    onrowaction={handleRowAction}
                    row-number-offset={rowOffset}
                    onsave={handleSave}
                    enable-infinite-loading
                    onloadmore={loadMoreData}
                              

                    >
                </lightning-datatable>
                {loadMoreStatus}
            </template>
        </div>
        <template if:true={bShowModal}>
            <section role="dialog" tabindex="-1"
                     aria-labelledby="modal-heading-01"
                     aria-modal="true"
                     aria-describedby="modal-content-id-1"
                    class="slds-modal slds-fade-in-open">
               <div class="slds-modal__container">
                  <!-- modal header start -->
                  <header class="slds-modal__header">
                     <button class="slds-button slds-button_icon slds-modal__close slds-button_icon-inverse" title="Close" onclick={closeModal}>
                        <lightning-icon icon-name="utility:close" alternative-text="close" variant="inverse" size="small" ></lightning-icon>
                     </button>
                     <h2 id="modal-heading-01" class="slds-text-heading_medium slds-hyphenate">Record Detail</h2>
                  </header>
                  <!-- modal body start -->
                  <div class="slds-modal__content slds-p-around_medium" id="modal-content-id-1">
                    <dl class="slds-list_horizontal slds-wrap">
                        <dt class="slds-item_label slds-truncate" title="FirstName">FirstName:</dt>
                        <dd class="slds-item_detail slds-truncate">{record.FirstName}</dd>
                        <dt class="slds-item_label slds-truncate" title="LastName">LastName:</dt>
                        <dd class="slds-item_detail slds-truncate">{record.LastName}</dd>
                        <dt class="slds-item_label slds-truncate" title="Title">Title :</dt>
                        <dd class="slds-item_detail slds-truncate">{record.Title}</dd>
                        <dt class="slds-item_label slds-truncate" title="Phone">Phone :</dt>
                        <dd class="slds-item_detail slds-truncate">{record.Phone}</dd>
                        <dt class="slds-item_label slds-truncate" title="Email">Email :</dt>
                        <dd class="slds-item_detail slds-truncate">{record.Email}</dd>
                    </dl>
                  </div>
                  <!-- modal footer start-->
                  <footer class="slds-modal__footer">
                       <lightning-button variant="brand"
                       label="Close"
                       title="Close"
                       onclick={closeModal}
                       ></lightning-button>
                  </footer>
               </div>
            </section>
            <div class="slds-backdrop slds-backdrop_open"></div>
         </template>
    </lightning-card>
</template>