<template>
  <lightning-card>
    <div slot="title" class="tableTitle slds-align_absolute-center">
      <div class="slds-media__figure">
        <span
          class="slds-icon_container slds-icon-standard-opportunity"
          title={objectLabel}
        >
          <lightning-icon
            size="small"
            icon-name="standard:note"
          ></lightning-icon>
        </span>
      </div>
      <span class="slds-page-header__title slds-truncate" title={objectLabel}
        >Notes</span
      >
    </div>
    <lightning-record-edit-form
      object-api-name="ContentNote"
      onsubmit={handleSave}
    >
      <!-- <lightning-input-field field-name="Title"></lightning-input-field> -->
      <lightning-input-rich-text value={defaultText} onchange={handleChange}>
      </lightning-input-rich-text>
      <div class="slds-m-top_medium slds-align_absolute-center">
        <lightning-button-group class="slds-m-top_small">
          <lightning-button
            onclick={handleReset}
            label="Cancel"
          ></lightning-button>
          <lightning-button
            variant="brand"
            type="submit"
            label="Save"
          ></lightning-button>
        </lightning-button-group>
      </div>
    </lightning-record-edit-form>
    <!-- NOTES LIST -->
    <template for:each={noteList} for:item="note">
      <div key={note} style="margin-top: 0.5rem; margin-bottom: 1rem;">
        <h1 style="padding: 0.5rem;"><b>Title:</b> {note.Title}</h1>
        <div data-my-id="contentDiv">
          <p style="padding: 0.5rem; word-break: break-word;">
            <b>Content: </b>
            <lightning-formatted-rich-text
              value={note.Content}
            ></lightning-formatted-rich-text>
          </p>
        </div>
        <h1 style="padding: 0.5rem;">
          <b>Note Owner:</b> {note.LastModifiedBy}
        </h1>
        <h1 style="padding: 0.5rem;">
          <b>Last Modified:</b> {note.LastModifiedDate}
        </h1>
      </div>
    </template>
  </lightning-card>
</template>